<!DOCTYPE html>
<html lang="en" ng-app="myRefactor" ng-controller="MyCtrl">

<head>
    <title>ngMadLibsfinalv3</title>

    <!-- the typical metags-->
    <meta charset="utf-8" ng-app="">
    <!--
        Mobile browsers like Fennec render pages in a virtual "window" (the viewport), usually wider than the screen, so they don't need to squeeze every page layout into a tiny window (which would break many non-mobile-optimized sites). Users can pan and zoom to see different areas of the page.
        Mobile Safari introduced the "viewport meta tag" to let web developers control the viewport's size and scale. Many other mobile browsers now support this tag, although it is not part of any web standard.
    -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Add here the website descritpion">
    <meta name="author" content="Add here the author name">

    <!-- link all the css styles starting with the external ones and then your own styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" type="text/css">
    <link rel="stylesheet" href="css/styles.css" type="text/css">

</head>

<body>
    <header>

        <div id="logo"><img src="images/ng-mad-libs-logo.png" alt="" width="" height="">
            <h1 id="logoH1">Automate this!</h1>
        </div>
        <div id="happyFace">
            <img src="images/mad-lib-happy-face.png" alt="" width="">
        </div>
    </header>

    <section id="input" ng-hide="inputHide && madInput.$valid">
        <form name="madInput" ng-submit="submit()" novalidate>

            <div id="main">
                <p id="gender">Mad Libs for a:</p>
                <label class="">
                    <input type="radio" name="gender" id='male' value='male' ng-model="data.gender" ng-click="gender.heShe = 'he'; gender.hisHer = 'his'; gender.himHer = 'him'" required>Boy
                </label>
                <label class="">
                    <input type="radio" name="gender" id='female' value='female' ng-model="data.gender" ng-click="gender.heShe = 'she'; gender.hisHer = 'her'; gender.himHer = 'her'" required>Girl
                </label>
                <div class='errorMsg' ng-if="madInput.gender.$error.required" ng-messages="madInput.gender.$error">
                    <div ng-message="required"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Please select a gender</div>
                </div>

                <h1 id="inputH1">Provide the following words:</h1>
                <div class="leftCol">
                    <input type="text" name="name" placeholder="name" ng-model="data.name" required>
                    <div ng-if="madInput.name.$touched" ng-messages="madInput.name.$error">
                        <div ng-message="required">
                            <p>Please enter a name.</p>
                        </div>
                    </div>



                    <input type="text" name="jobTitle" placeholder="job title" ng-model="data.jobTitle" required>
                    <div ng-if="madInput.jobTitle.$touched" ng-messages="madInput.jobTitle.$error">
                        <div ng-message="required">
                            <p>Please enter a job title.</p>
                        </div>
                    </div>



                    <input type="text" name="tediousTask" placeholder="tediousTask" ng-model="data.tediousTask" required>
                    <div ng-if="madInput.tediousTask.$touched" ng-messages="madInput.tediousTask.$error">
                        <div ng-message="required">
                            <p>Please enter a tedious task.</p>
                        </div>
                    </div>
                </div>


                <div class="leftCol">
                    <input type="text" name="dirtyTask" placeholder="dirtyTask" ng-model="data.dirtyTask" required>
                    <div ng-if="madInput.dirtyTask.$touched" ng-messages="madInput.dirtyTask.$error">
                        <div ng-message="required">
                            <p>Please enter a dirty task.</p>
                        </div>
                    </div>



                    <input type="text" name="celebrity" placeholder="celebrity" ng-model="data.celebrity" required>
                    <div ng-if="madInput.celebrity.$touched" ng-messages="madInput.celebrity.$error">
                        <div ng-message="required">
                            <p>Please enter a celebrity.</p>
                        </div>
                    </div>



                    <input type="text" name="uselessSkill" placeholder="uselessSkill" ng-model="data.uselessSkill" required>
                    <div ng-if="madInput.uselessSkill.$touched" ng-messages="madInput.uselessSkill.$error">
                        <div ng-message="required">
                            <p>Please enter a useless skill.</p>
                        </div>
                    </div>
                </div>


                <div class="leftCol">
                    <input type="text" name="adjective" placeholder="adjective" ng-model="data.adjective" required>
                    <div ng-if="madInput.adjective.$touched" ng-messages="madInput.adjective.$error">
                        <div ng-message="required">
                            <p>Please enter an adjective.</p>
                        </div>
                    </div>



                    <input type="text" name="obnoxiousCelebrity" placeholder="obnoxiousCelebrity" ng-model="data.obnoxiousCelebrity" required />
                    <div ng-if="madInput.obnoxiousCelebrity.$touched" ng-messages="madInput.obnoxiousCelebrity.$error">
                        <div ng-message="required">
                            <p>Please enter an obnoxious celebrity.</p>
                        </div>
                    </div>



                    <input type="text" name="hugeNumber" placeholder="hugeNumber" ng-model="data.hugeNumber" required>
                    <div ng-if="madInput.hugeNumber.$touched" ng-messages="madInput.hugeNumber.$error">
                        <div ng-message="required">
                            <p>Please enter a hugeNumber.</p>
                        </div>
                    </div>
                </div>

                <section id="generateBtn">
                    <button type="submit">Generate My Mad Lib</button>
                </section>
            </div>
        </form>
    </section>


    <section id="finalMadLib" ng-show="inputHide && madInput.$valid">
        <p><span class="myLib">{{data.name}}</span> was a <span class="myLib">{{data.jobTitle}}</span> who loved technology. Although <span class="myLib">{{gender.heShe}}</span> loved parts of <span class="myLib">{{gender.hisHer}}</span> job, <span class="myLib">{{gender.heShe}}</span> absolutely hated <span class="myLib">{{data.tediousTask}}</span> and <span class="myLib">{{data.dirtyTask}}</span>. So, <span class="myLib">{{data.name}}</span> met with <span class="myLib">{{gender.hisHer}}</span> life mentor <span class="myLib">{{data.celebrity}}</span> who told <span class="myLib">{{gender.himHer}}</span> to learn <span class="myLib">{{data.uselessSkill}}</span> with Thinkful. Thinkful didn't offer a course on <span class="myLib">{{data.uselessSkill}}</span> so <span class="myLib">{{gender.heShe}}</span> studied programming instead.</p>
        <p>What a great decision! With <span class="myLib">{{gender.hisHer}}</span> new skills, <span class="myLib">{{data.name}}</span> built a(n) <span class="myLib">{{data.adjective}}</span> robot named <span class="myLib">{{data.obnoxiousCelebrity}}</span> that not only loved <span class="myLib">{{data.dirtyTask}}</span> but did it <span class="myLib">{{data.hugeNumber | number}}</span> times faster. </p>
        <div>
            <div>
                <button id="startOver" type="button" ng-click="reset()">Start Over</button>
            </div>
        </div>
    </section>

    <section id="version">
        <p> Refactor version {{ version }}</p>
    </section>

    <footer id="myFooter">
        <h2>{{title}}</h2>
    </footer>

    <!-- add all the scripts starting with the external ones and then your own javascript-->

    <script src="https://code.angularjs.org/1.5.5/angular.min.js" type="text/javascript"></script>
    <script src='https://code.angularjs.org/1.5.5/angular-messages.min.js' type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.js" type="text/javascript"></script>
    <script src="refactor/refactor.js" type="text/javascript"></script>
</body>

</html>
